html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/* ADDED BY JK STARTS */

.order-index {
    overflow: auto;
}
.order-index .table-responsive {
    overflow: inherit;
}

.dropdown-check-list{
     height: 250px;
    
     border:1px solid #ccc;
     padding:7px;
     border-radius:4px;
overflow-y: scroll;
overflow-x: scroll;
list-style-type:none;
}
.dropdown-smstemplate-list{
     height: 250px;
     width: 19.333%;
     border:1px solid #ccc;
     padding:7px;
     border-radius:4px;
overflow-y: scroll;
overflow-x: hidden;
list-style-type:none;
}
.dropdown-smstemplate-list .items label {
 border:1px solid #ccc;
 padding:10px;
 margin:0 0 10px;
 display:block; 
}
.dropdown-smstemplate-list .items label:hover {
 background:#eee;
 cursor:pointer;
}

.items{
    padding:0;
    list-style-type:none;
    height:100% ;
} 
.min-order{ padding:0;}
.min-order li{display:inline-block; list-style-type:none; padding-right: 11px;}
.back-col{background:url("images/imgpsh_fullsize.png"); padding: 21px 0 7px;}
.add-text{background: rgb(247, 215, 0) none repeat scroll 0% 0%;
padding: 7px 19px;
text-align: justify;
color: rgb(59, 59, 59);
border-radius: 4px;}
.min-back{background:#fd3900;
padding: 10px 0px 1px 12px;
font-weight: 700;
text-align: justify;
color: #fff;
border-radius: 4px; margin-top:10px;
}
.nopadding
{
padding-left:0 !important;
padding-right: 0 !important;
}
.order-view
{

}

/* ADDED BY JK ENDS */	
